
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap');
header{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 23px 50px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
  a.toIndex, a.toIndex:hover{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .header-menus{
    display: flex;
  }
}

.header.headerColor-default{
  background-color: #d4cece8a;
  a.toIndex{
    color: #69caf1;
  }
}

footer{
  background-color: rgb(1, 1, 31);
  padding: 30px;
}

#toTop{
  position: fixed;
  right: 20px;
  bottom: 50px;
}