header{
  padding: 10px;
  a.toIndex, a.toIndex:hover{
    font-size: 23px;
  }
  .header-menus{
    a{
      width: 115px;
      font-size: 13px;
    }
  }
}

.table td, .table th{
  padding: 11px 6px;
}

main{
  .top{
    padding: 30px 5px;
    h2{
      font-size: 28px;
    }
    .start-btn, .inquiry-btn{
      margin-top: 30px;
    }
  }
  .section{
    padding: 30px 10px;
    h2{
      margin-top: 60px;
      font-size: 28px;
    }
    h2:after{
      width: 100%;
    }
    h3{
      margin-top: 50px;
    }
  }

  .welcome-section{
    .float-image{
      width: 90px;
    }
    @keyframes anime5 {
      0% {right: -9px; top: -150px;}
      100% {right: -9px; top: -160px;}
    }
    .welcome-wrap{
      img{
        display: none;
      }
      .welcome-comment{
        margin-top: 10px;
        padding: 0px;
      }
    }
  }

  .samples-section{
    .demos{
      .content{
        width: 100%;
        padding: 10px 0px;
      }
      .service{
        img{
          width: 100%;
        }
        ul:before{
          top: -52px;
          left: 29px;
          border-right: solid 20px #ffffff00;
          border-left: solid 20px rgba(255, 255, 255, 0);
          border-bottom: solid 20px white;
        }
        ul{
          margin: 0;
          margin-top: 25px;
          padding: 10px 0px;
          width: 100%;
          padding-left: 37px;
          height: fit-content;

          li{
            font-size: 20px;
          }
        }
      }
    }
  }

  .skills-section{
    .skills{
      padding-right: 10px;
      padding-left: 10px;
      .skill{
        width: 95px;
      }
    }
    .float-image{
      width: 90px;
    }
    @keyframes anime3 {
      0% {right: 0px; top: 33px;}
      100% {right: 0px; top: 50px;}
    }
  }

  .engineers-section{
    .engineer{

      .comment-wrap{
        .engineer-comment{
          width: 100%;
        }
        .engineer-name{
          margin-top: 10px;
        }
      }
    }
    .float-image{
      width: 73px;
      top: -19px;
    }
    @keyframes anime2 {
      0% {right: 0px;}
      25% {right: 15px;}
      50% {right: 10px}
      100% {right: 15px;}
    }
  }

  .prices-section{
    .float-image{
      width: 60px;
      left: 0px;
    }
    @keyframes anime1 {
      0% {top: 700px;}
      100% {top: 720px;}
    }
    .container{
      padding: 0px;
    }
    .menter{
      width: 100%;
    }
  }
}

#toTop{
  right: 10px;
  bottom: 10px;
}