main {
  margin-top: 70px;
  padding-top: 60px; }
  main .top {
    text-align: center;
    padding: 30px;
    padding-bottom: 60px; }
    main .top h2 {
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 700;
      font-size: 45px; }
    main .top .start-btn {
      margin-top: 60px;
      padding: 15px 46px; }
    main .top .inquiry-btn {
      background-color: rgba(0, 0, 0, 0);
      border: solid 2px #18a2b8;
      color: #18a2b8;
      margin-top: 60px;
      padding: 15px 46px; }
    main .top .inquiry-btn:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: #1bbfd8; }
  main .info {
    background: linear-gradient(to bottom, #cbedf3, #31657e); }
  main .section {
    width: 100%;
    padding: 30px; }
    main .section h2, main .section h3 {
      text-align: center; }
    main .section h2 {
      margin: 50px 0px;
      margin-top: 120px; }
    main .section h2:after {
      content: "";
      display: block;
      margin: auto;
      margin-top: 20px;
      height: 1px;
      width: 50%;
      background: linear-gradient(to right, #dfedfa, #274275); }
    main .section h3 {
      margin-top: 90px;
      margin-bottom: 30px; }
  main .welcome-section .welcome-wrap {
    display: flex;
    flex-wrap: wrap; }
    main .welcome-section .welcome-wrap img {
      width: 50%; }
    main .welcome-section .welcome-wrap .welcome-comment {
      padding: 0px 30px; }
  main .samples-section .demos {
    display: flex;
    flex-wrap: wrap; }
    main .samples-section .demos .content {
      width: 33%;
      position: relative;
      padding: 10px 40px 10px 0; }
      main .samples-section .demos .content .title {
        border-bottom: solid 3px #e8e8e8; }
      main .samples-section .demos .content img.pc-site {
        width: 100%;
        height: 267px; }
      main .samples-section .demos .content img.sp-site {
        width: 32%;
        position: absolute;
        top: 124px;
        right: 34px;
        box-shadow: 1px 1px 1px 2px #ddd; }
      main .samples-section .demos .content a {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 43px auto 10px;
        background-color: #bee4c3;
        color: #929191;
        border-radius: 10px; }
      main .samples-section .demos .content a:hover {
        text-decoration: none;
        background-color: #cfe8d3; }
    main .samples-section .demos .service {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      main .samples-section .demos .service img {
        width: 50%; }
      main .samples-section .demos .service ul {
        background-color: white;
        margin-left: 39px;
        width: 40%;
        height: 100%;
        margin-bottom: 0px;
        padding: 20px 50px;
        position: relative;
        border-radius: 9px; }
        main .samples-section .demos .service ul li {
          font-size: 26px; }
      main .samples-section .demos .service ul:before {
        content: "";
        display: block;
        position: absolute;
        top: 20%;
        left: -31px;
        border-right: solid 33px white;
        border-top: solid 33px rgba(255, 255, 255, 0);
        border-bottom: solid 33px rgba(255, 255, 255, 0); }
  main .skills-section .skills {
    background-color: #ebfbff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 0px 30px;
    border-radius: 5px; }
    main .skills-section .skills .skill {
      width: 120px;
      text-align: center; }
      main .skills-section .skills .skill p {
        margin-bottom: 50px; }
      main .skills-section .skills .skill .smallicon {
        font-size: 80px; }
      main .skills-section .skills .skill .devicons-cloud9 {
        color: #90d1f7; }
      main .skills-section .skills .skill .devicons-chrome {
        color: #ffb200; }
      main .skills-section .skills .skill .devicons-heroku {
        color: #609; }
      main .skills-section .skills .skill .devicons-javascript_shield {
        color: #e44d27; }
      main .skills-section .skills .skill .devicons-css3 {
        color: #3b9adb; }
      main .skills-section .skills .skill .devicons-bootstrap {
        color: #563d7c; }
      main .skills-section .skills .skill .devicons-ruby {
        color: #db2c1e; }
      main .skills-section .skills .skill .devicons-ruby_on_rails {
        color: #cd1c00; }
      main .skills-section .skills .skill .devicons-database {
        color: #4a8daa; }
      main .skills-section .skills .skill .devicons-javascript {
        color: #ffdd3f; }
      main .skills-section .skills .skill .devicons-jquery {
        color: #0d60a9; }
      main .skills-section .skills .skill .devicons-markdown {
        color: #98eaa9; }
  main .engineers-section .engineer {
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    margin-bottom: 29px;
    box-shadow: #406371 3px 3px;
    border-radius: 4px; }
    main .engineers-section .engineer .comment-wrap {
      width: 100%; }
      main .engineers-section .engineer .comment-wrap .engineer-comment {
        width: 80%;
        margin: auto; }
      main .engineers-section .engineer .comment-wrap .engineer-name {
        text-align: right; }
  main .prices-section .menter {
    color: white;
    width: 70%;
    margin: auto; }
    main .prices-section .menter th, main .prices-section .menter td {
      text-align: center; }
      main .prices-section .menter th svg, main .prices-section .menter td svg {
        font-size: 25px;
        font-weight: 600; }
      main .prices-section .menter th svg.bi-check, main .prices-section .menter td svg.bi-check {
        color: #6ee471; }
  main .prices-section .table-header th {
    border-top: none; }
  main .prices-section .table-column {
    width: 40%; }

#inquiryLoading, #inquiryResult {
  display: none; }

/*# sourceMappingURL=style.css.map */
