main{
  margin-top: 70px;
  padding-top: 60px;
  .top{
    text-align: center;
    padding: 30px;
    padding-bottom: 60px;
    h2{
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 700;
      font-size: 45px;
    }
    .start-btn{
      margin-top: 60px;
      padding: 15px 46px;
    }
    .inquiry-btn{
      background-color: rgba(0,0,0,0);
      border: solid 2px #18a2b8;
      color: #18a2b8;
      margin-top: 60px;
      padding: 15px 46px;
    }
    .inquiry-btn:hover{
      background-color: rgba(0,0,0,0.1);
      color: #1bbfd8;
    }
  }
  .info{
    background: linear-gradient(to bottom, #cbedf3, rgb(49, 101, 126));
  }
  .section{
    width: 100%;
    padding: 30px;

    h2, h3{
      text-align: center;
    }
    h2{
      margin: 50px 0px;
      margin-top: 120px;
    }
    h2:after {
      content:"";
      display:block;
      margin: auto;
      margin-top: 20px;
      height:1px;
      width:50%;
      background: linear-gradient(to right, rgb(223, 237, 250), rgb(39, 66, 117));
    }

    h3{
      margin-top: 90px;
      margin-bottom: 30px;
    }
  }
  .welcome-section{
    //background-color: #88d9e7;
    .welcome-wrap{
      display: flex;
      flex-wrap: wrap;
      img{
        width: 50%;
      }
      .welcome-comment{
        padding: 0px 30px;
      }
    }
  }

  .samples-section{
    //background-color: #3ec5dd;

    .demos{
      display: flex;
      flex-wrap: wrap;
      .content{
        width: 33%;
        position: relative;
        padding: 10px 40px 10px 0;
        .title{
          border-bottom: solid 3px #e8e8e8;
        }
        img.pc-site{
          width: 100%;
          height: 267px;
        }
        
        img.sp-site{
          width: 32%;
          position: absolute;
          top: 124px;
          right: 34px;
          box-shadow: 1px 1px 1px 2px #ddd;
        }
        a{
          display: inline-block;
          text-align: center;
          width: 100%;
          margin: 43px auto 10px;
          background-color: #bee4c3;
          color: #929191;
          border-radius: 10px;
        }
        
        a:hover{
          text-decoration: none;
          background-color: #cfe8d3;
        }
        
      }

      .service{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        img{
          width: 50%;
        }
        ul{
          background-color: white;
          margin-left: 39px;
          width: 40%;
          height: 100%;
          margin-bottom: 0px;
          padding: 20px 50px;
          position: relative;
          border-radius: 9px;
          li{
            font-size: 26px;
          }
        }
        ul:before{
          content: "";
          display: block;
          position: absolute;
          top: 20%;
          left: -31px;
          border-right: solid 33px white;
          border-top: solid 33px rgba(255, 255, 255, 0);
          border-bottom: solid 33px rgba(255, 255, 255, 0);
        }
      }
    }

  }

  .skills-section{
    .skills{
      background-color: #ebfbff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 30px 0px 30px;
      border-radius: 5px;
      .skill{
        width: 120px;
        text-align: center;

        p{
          margin-bottom: 50px;
        }

        .smallicon{
          font-size: 80px;
        }
        .devicons-cloud9{
          color: #90d1f7;
        }
        .devicons-chrome{
          color: #ffb200;
        }
        .devicons-heroku{
          color: #609;
        }
        .devicons-javascript_shield{
          color: #e44d27;
        }
        .devicons-css3{
          color: #3b9adb;
        }
        .devicons-bootstrap{
          color: #563d7c;
        }
        .devicons-ruby{
          color: #db2c1e;
        }
        .devicons-ruby_on_rails{
          color: #cd1c00;
        }
        .devicons-database{
          color: #4a8daa;
        }
        .devicons-javascript{
          color: #ffdd3f;
        }
        .devicons-jquery{
          color: #0d60a9;
        }
        .devicons-markdown{
          color: #98eaa9;
        }

      }
    }
  }

  .engineers-section{
    //background-color: #30aabf;
    .engineer{
      background-color: white;
      width: 100%;
      padding: 20px;
      display: flex;
      margin-bottom: 29px;
      box-shadow: #406371 3px 3px;
      border-radius: 4px;
      .comment-wrap{
        width: 100%;
        .engineer-comment{
          width: 80%;
          margin: auto;
        }
        .engineer-name{
          text-align: right;
        }
      }
    }
  }
  .prices-section{
    //background-color: #0b7e92;
    .menter{
      color: white;
      width: 70%;
      margin: auto;
      th, td{
        text-align: center;
        svg{
          font-size: 25px;
          font-weight: 600;
        }
        svg.bi-check{
          color: #6ee471;
        }
      }
    }

    .table-header{
      th{
        border-top: none;
      }
    }

    .table-column{
      width: 40%;
    }
  }
}

#inquiryLoading, #inquiryResult{
  display: none;
}